body {
    background-color:rgb(26,26,26);
    color: black;
}

/* Classes */
.c-content-panel {
    background-color: white;
}
.c-large-container {
    padding-left: 0px;
    padding-right: 0px;
}

.c-transparent-panel {
    background-color: transparent;
}

.c-name-title {
    text-align: center;
    padding: 20px;
}

/* Modifiers */
.fixed-avatar {
    width: 22vh;
    height: 22vh;
}

.no-margins {
    margin: 0px;
}

.one-third-height {
    height: 33vh;
}