body {
    background-color:rgb(26,26,26);
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.bottom-box {
    text-align: justify;
}

.container > div {
    display: inline-block;
    vertical-align: center;

    /* IE fix. */
    *display: inline;
    zoom: 1;
    }

.container:after {
    content: "";
    width: 100%;
    display: inline-block;
    }