body {
    background-color:black;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

h4 {
    vertical-align: top;
}


.invisidiv {
    background-color: transparent;
    background: transparent;
    position: absolute;
    margin-left: 10%;
    margin-top: 5%; 
}

.navbar {
    font-size: 20px;
    font-weight: 700;
}

.bottom-box {
    text-align: justify;
}

.bottom-box > div {
    display: inline-block;
    vertical-align: center;

    /* IE fix. */
    *display: inline;
    zoom: 1;
 }

.bottom-box:after {
    content: "";
    width: 100%;
    display: inline-block;
}

/*Grid management*/

.grid {
    max-width: 100%;
    margin: auto;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
    width: 50%;
    min-width: 300px;
    min-height: 200px
}

.grid-item {
    background: -webkit-linear-gradient(#404040, #202020); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#404040, #202020); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#404040, #202020); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#404040, #202020); /* Standard syntax (must be last) */
    height: 120px;
    float: left;
    border: 1px solid #333;
    border-color: black;
    border-radius: 10px;
    color: white;
}
/*
.grid-item:hover {
    background: #101010;
    border-color: #202020;
    color: white;
}*/

.grid-item > div {
    margin: 10px 10px;
}

.grid-item--width2 { 
    width:  100%; 
    min-width: 300px;
}

.grid-item--height2 { height: 200px; min-height: 200px; }
.grid-item--height3 { height: 250px; }
.grid-item--height4 { height: 300px; }





.test {
    background: red;
}